html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
/*

html {
  font-size: 42.6667px;
}

body {
  font-size: 0.12rem;
}
*/

ul,
h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

#app {
  width: 100%;
  height: 100%;

  #header {
    height: 60px;
    padding: 7px 10px;
    border-bottom: 1px solid #aaa;

    ul {
      padding: 10px 0;
      li {
        display: inline;
      }
    }
  }

  #sidebar {
    width: 320px;
    height: calc(100% - 60px);
    float: left;
    border-right: 1px solid #aaa;
  }

  #content {
    height: calc(100% - 60px);
    margin-left: 320px;
    overflow: auto;
  }
}